@import "tailwindcss";

@font-face {
  font-family: 'Satoshi Variable';
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
  font-weight: 400 900;
  font-style: normal;
}

body {
  font-family: 'Satoshi Variable', 'Inter', sans-serif;
}
